{% load static %}

{% load static %}

<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-top-inner">
              <h2>Let’s <span>Rock</span> <br />Together</h2>
              <div class="footer-content">
                <div class="footer-email">
                  <p>Reach out via email~</p>
                  <a href="mailto:abc12@yahoo.mail">abc12@yahoo.mail</a>
                </div>
                <div class="footer-social">
                  <p>Other Media~</p>
                  <ul>
                    <li><a href="#">Behance</a></li>
                    <li><a href="#">Dribbble</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <p>© Yoursitename 2023 | All Rights Reserved</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <ul>
              <li><a href="#">Terms & Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>